package button

templ PrimaryButton(text string, attrs templ.Attributes) {
	<button class="primary">
		{ text }
		{ children...}
  </button>
}

templ Button(text string) {
	<button class="secondary">
		{ text }
	</button>
}



