package button

templ PrimaryButton(text string, attrs templ.Attributes) {
	<button class="primary">
		{ text }
		{ children...}
  </button>
}

templ Button(text string) {
	<button class="secondary" hx-post="/clicked" hx-target="#parent-div" hx-trigger="click" hx-swap="outerHTML">
		{ text }
	</button>
}
