package button

templ Button(text string, className string) {
	<button class={ "ml-1", className }> { text }</button>
}

templ PrimaryButton(text string, className string) {
	<button class={ className }>
		{ text }
  </button>
}


