@import url('pico.min.css');
/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d81b60;
  --spacer: 8px;
  --half-spacer: 4px;
  --quarter-spacer: 2px;
  --one-plus-spacer: 12px;
  --two-plus-spacer: 16px;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}


.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: var(--quarter-spacer);
}
.ml-2 {
  margin-left: var(--half-spacer);
}
.ml-3 {
  margin-left: var(--spacer);
}
.ml-4 {
  margin-left: var(--one-plus-spacer);
}
.ml-5 {
  margin-left: var(--two-plus-spacer);
}


.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: var(--quarter-spacer);
}
.mr-2 {
  margin-right: var(--half-spacer);
}
.mr-3 {
  margin-right: var(--spacer);
}
.mr-4 {
  margin-right: var(--one-plus-spacer);
}
.mr-5{
  margin-right: var(--two-plus-spacer);
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: var(--quarter-spacer);
}
.mt-2 {
  margin-top: var(--half-spacer);
}
.mt-3 {
  margin-top: var(--spacer);
}
.mt-4 {
  margin-top: var(--one-plus-spacer);
}
.mt-5 {
  margin-top: var(--two-plus-spacer);
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: var(--quarter-spacer);
}
.mb-2 {
  margin-bottom: var(--half-spacer);
}
.mb-3 {
  margin-bottom: var(--spacer);
}
.mb-4 {
  margin-bottom: var(--one-plus-spacer);
}
.mb-5{
  margin-bottom: var(--two-plus-spacer);
}


.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: var(--quarter-spacer);
}
.pl-2 {
  padding-left: var(--half-spacer);
}
.pl-3 {
  padding-left: var(--spacer);
}
.pl-4 {
  padding-left: var(--one-plus-spacer);
}
.pl-5 {
  padding-left: var(--two-plus-spacer);
}


.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: var(--quarter-spacer);
}
.pr-2 {
  padding-right: var(--half-spacer);
}
.pr-3 {
  padding-right: var(--spacer);
}
.pr-4 {
  padding-right: var(--one-plus-spacer);
}
.pr-5 {
  padding-right: var(--two-plus-spacer);
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: var(--quarter-spacer);
}
.pt-2 {
  padding-top: var(--half-spacer);
}
.pt-3 {
  padding-top: var(--spacer);
}
.pt-4 {
  padding-top: var(--one-plus-spacer);
}
.pt-5 {
  padding-top: var(--two-plus-spacer);
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: var(--quarter-spacer);
}
.pb-2 {
  padding-bottom: var(--half-spacer);
}
.pb-3 {
  padding-bottom: var(--spacer);
}
.pb-4 {
  padding-bottom: var(--one-plus-spacer);
}
.pb-5 {
  padding-bottom: var(--two-plus-spacer);
}
